<%= form_with model: hospede, url:url	 do |f|%>
  <div class="mb-3">
    <%= f.label :nome, "Nome", class:"form-label" %>
    <%= f.text_field :nome, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :telefone, "Telefone", class:"form-label" %>
    <%= f.telephone_field :telefone, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :cpf, "CPF", class:"form-label" %>
    <%= f.text_field :cpf, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Email", class:"form-label" %>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  <%= f.submit "Salvar", class:"btn btn-primary" %>
<% end %>