<% content_for :main do %>
  <div class="py-3">
    <span>Filtros</span>
    <%= form_with url: admin_hospede_index_path, method: :get do |form| %>
      <div class="px-3 py-2 border d-flex">
        <div class="mb-3 me-2">
          <%= form.label :nome, "Nome:", class: "form-label"%>
          <%= form.text_field :nome, :value=>params[:nome], class: "form-control" %>
        </div>
        <%= form.submit "Search", class: "mt-3 btn btn-primary align-self-center"%>
      </div>
    <% end %>
  </div>

  <div class="py-3 d-flex">
    <%= render "shared/button_create", locals: {nome: "Novo Hospede", url: new_admin_hospede_path} %>
    <div class="ms-3 ">
      <%= render partial: "shared/button_export", locals: {url: -> (f){export_admin_hospede_index_path(format:f)}} %>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col" width="15%"></th>
      </tr>
    </thead>
  <tbody>
    <% @hospede.each_with_index do |item, i| %>
      <tr>
        <th scope="row"><%= "#{i}" %></th>
        <td><%= item.nome%></td>
        <td><%= item.cpf%></td>
        <td><%= item.telefone%></td>
        <td><%= item.email%></td>
        <td>
          <button type="button"  class="btn btn-delete" data-url='<%=admin_hospede_path(item)%>' > 
            <i class="bi bi-trash"></i>
          </button>
          <%= link_to(edit_admin_hospede_path(item), class: 'btn') do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= paginate @hospede, window: 2 %>
</div>

<%= render "shared/modal_delete" %>

<% end %>