<% content_for :main do %>
  <div class="py-3 d-flex">
    <%= render "shared/button_create", locals: {nome: "Novo Hotel"} %>
    <div class="ms-3">
      <%= render "shared/button_export"%>
    </div>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Quarto</th>
      <th scope="col">País</th>
      <th scope="col">Endereço</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @hoteis.each_with_index do |item, i| %>
      <tr>
        <th scope="row"><%= "#{i}" %></th>
        <td><%= item.nome%></td>
        <td><%= item.quartos.count %></td>
        <td><%= item.pais %></td>
        <td><%= exibir_endereco(item)%></td>
        <td>
          <button type="button"  class="btn"> 
            <i class="bi bi-trash"></i>
          </button></td>
      </tr>
    <% end %>
  </tbody>

</table>

<div>
  <%= paginate @hoteis, window: 2 %>
</div>

<% end %>